.headliner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
    background-color: rgba(242, 182, 215, 0.478);
}

.navigationbar {
    font-size: 30px;
    color: rgb(239, 117, 137)   ;
    font-family: monospace;
    text-align: left;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.me {
    font-size: 10rem;
    background-color: blueviolet;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

.hand {
display: flex;
justify-content: center;
max-height: 300px;
}

.handpic {
    width: 150px;
    border-radius: 1 rem;

}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

button {
    color: rgba(255, 255, 255, 0.901);
    border: none;
    cursor: pointer;
    background-color: rgba(240, 165, 243, 0.922);
    border-radius: 20px;
}